.idea
.vscode

.DS_Store
debug

*.iml
key.json

*.vlog
LOCK
MANIFEST

run-nodes-locally/seed/*
run-nodes-locally/delegate-1/*
run-nodes-locally/delegate-2/*
run-nodes-locally/delegate-3/*
run-nodes-locally/delegate-4/*
run-nodes-locally/delegate-5/*

*.log
transactions/transactions.exe
transactions/transactions
