.idea
.vscode

.DS_Store
debug

*.iml
key.json

*.vlog
LOCK
MANIFEST

run-nodes-locally/delegate*

run-nodes-locally/delegate-1/config/account.json
run-nodes-locally/delegate-1/config/key*
run-nodes-locally/delegate-1/db
run-nodes-locally/delegate-1/disgo

run-nodes-locally/delegate-2/config/account.json
run-nodes-locally/delegate-2/config/key*
run-nodes-locally/delegate-2/db
run-nodes-locally/delegate-2/disgo

run-nodes-locally/delegate-3/config/account.json
run-nodes-locally/delegate-3/config/key*
run-nodes-locally/delegate-3/db
run-nodes-locally/delegate-3/disgo

run-nodes-locally/delegate-4/config/account.json
run-nodes-locally/delegate-4/config/key*
run-nodes-locally/delegate-4/db
run-nodes-locally/delegate-4/disgo

run-nodes-locally/seed/config/account.json
run-nodes-locally/seed/config/key*
run-nodes-locally/seed/db
run-nodes-locally/seed/disgo
*.log
transactions/transactions
run-nodes-locally/delegate-1/config/config.json
run-nodes-locally/delegate-2/config/config.json
run-nodes-locally/delegate-3/config/config.json
run-nodes-locally/delegate-4/config/config.json
run-nodes-locally/delegate-5/config/account.json
run-nodes-locally/delegate-5/config/config.json
run-nodes-locally/delegate-5/config/key
run-nodes-locally/delegate-5/config/key.pem
run-nodes-locally/delegate-5/config/key.pub
run-nodes-locally/delegate-5/config/key.pub.pem
run-nodes-locally/delegate-5/disgo
run-nodes-locally/seed/config/config.json
